<app-header></app-header>
<div class="login-box">
  <mat-icon color="primary">password</mat-icon>   
  <h2>Change Password</h2>
    <form #changeForm="ngForm" (ngSubmit)="onchangePass(changeForm.value)">
        <p>
        <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput name="NewPass" ngModel placeholder="New Password" required="true">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input type="password" name="ConfPass" ngModel matInput placeholder="Confirm Password" required="true">
          </mat-form-field>
        </p>
        <p style="color:red;">
          {{changeResponse.Message}}
        </p>
        <p>
            <button type="submit" mat-raised-button color="primary">Change Password</button>
        </p>
    </form>
</div>