<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon" alt-text="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>CQS-Task</span>
    <button mat-icon-button class="example-icon" routerLink="/employee-dashboard" aria-label="Example icon-button with menu icon" style="margin-left: 25px;">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/emp-project" aria-label="Example icon-button with menu icon" style="margin-left: 10px;">
      <mat-icon>account_tree</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/emp-task" aria-label="Example icon-button with menu icon" style="margin-left: 10px;">
      <mat-icon>task_alt</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/emp-notification" aria-label="Example icon-button with menu icon" style="margin-left: 10px;">
      <mat-icon>notifications_active</mat-icon>
    </button>

    
    <div class="info"><button mat-stroked-button color="basic" (click)="profile(employee.Data.id)">{{employee.Data.name}}</button>    
      <button mat-icon-button class="example-icon" (click)="logout()" aria-label="Example icon-button with menu icon">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-list>
          <div mat-subheader><mat-icon>person</mat-icon> User</div>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon matListItemIcon>home</mat-icon>
            <div matListItemTitle routerLink="/employee-dashboard">Home</div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon matListItemIcon>account_tree</mat-icon>
            <div matListItemTitle routerLink="/emp-project">My Projects</div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon matListItemIcon>task_alt</mat-icon>
            <div matListItemTitle routerLink="/emp-task">My Tasks</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>notifications_active</mat-icon>
            <div matListItemTitle routerLink="/emp-notification">Notifications</div>
          </mat-list-item>
        </mat-list>
      </mat-drawer>
    </mat-drawer-container>
  