<app-admsidenav></app-admsidenav>
<h2 style="color: #969494; margin-left: 1rem;">Tasks of Project Id: {{projectId}} </h2>
<mat-divider style="margin-left: 1rem;"></mat-divider>
<div class="container">
 <div class="demo-button-container">
    <button mat-raised-button color="primary" routerLink="/add-task" class="demo-button">
     <mat-icon>add</mat-icon>&nbsp;Add New Task
    </button>
  </div>
  <div class="message">
    <p>{{deleteResponse.Message}}</p>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table"> 
    <!-- Name Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef>Project</th>
        <td mat-cell *matCellDef="let element">{{element.project.projectName}}</td>
      </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{element.description}}</td>
      </ng-container>
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef>Priority</th>
        <td mat-cell *matCellDef="let element">{{element.priority.name}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>
      <ng-container matColumnDef="expectedCompletionDate">
        <th mat-header-cell *matHeaderCellDef>Expected Completion</th>
        <td mat-cell *matCellDef="let element">{{element.expectedCompletionDate}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button
          mat-stroked-button color="primary"
          (click)="updateTask(element.id)"
          class="demo-button">
        <mat-icon>border_color</mat-icon>
      </button>
            <button
            mat-stroked-button color="primary"
            (click)="removeTask(element.id)"
            class="demo-button">
          <mat-icon>delete</mat-icon>
        </button>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>