<app-empsidenav></app-empsidenav>
<h2 style="color: #969494; margin-left: 20rem;"><mat-icon>border_color</mat-icon>&nbsp;&nbsp;Update Task : {{taskId}}</h2>
<mat-divider style="margin-left: 20rem;"></mat-divider>
<div class="example" style="margin-top: 5px; margin-left: 20rem;">
    <div class="forms">
        <form #projectForm="ngForm" (ngSubmit)="empUpdateTask(projectForm.value)">
        
            <p>  
              <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select name="Status" ngModel required="true">
                  <mat-option value="CREATED">CREATED</mat-option>
                  <mat-option value="COMPLETED">COMPLETED</mat-option>
                  <mat-option value="PENDING">PENDING</mat-option>
                  <mat-option value="IN PROGRESS">IN PROGRESS</mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            <p>
                <mat-form-field style="width: 400px;">
                    <mat-label>Remarks if any</mat-label>
                    <textarea matInput cols="50" name="Remarks" ngModel></textarea>
                  </mat-form-field>
            </p>
            <p style="color: red;text-align: center;">{{response.Message}}</p>
            <p style="text-align: center;">
                <button type="submit" mat-raised-button color="primary"><mat-icon>add</mat-icon>UPDATE TASK</button>
            </p>      
        </form>
        </div>
  </div>
